body {
  margin: 0;
  background-color: #0B2434;
}

main{
  max-width: 500px;
  height: 450px;
  background-color: #F5F5F5;
  margin: 100px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  margin: 0;
}
.instruction{
  max-width: 55%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.dice-container{
  display: grid;
  grid-template: 1fr 1fr/repeat(5, 1fr);
  gap: 20px;
}

.die{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 1.5px lightgray;
  cursor: pointer;
}

button{
  border: none;
  background-color: #5035FF;
  border-radius: 5px;
  color: white;
  width: 200px;
  height: 45px;
  font-size: 1.2rem;
  margin-top: 30px;
}

.timer{
  font-size: 16px;
  margin-bottom: 15px;
}
